{% extends 'base.html' %}

{% block title %}{{ content.title }}{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <article class="content">
                <h1>{{ content.title }}</h1>
                {% if g.user %}
                    <a href="{{ url_for('contents.edit', id=content.id) }}">Editar conteúdo</a>
                {% endif %}
                <p class="body">{{ content.body }}</p>
            </article>
        </div>
    </div>
</div>
{% endblock %}
