{% extends 'base.html' %}

{% block title %}Alteração cadastral{% endblock %}

{% block content %}

<form method="post" enctype="multipart/form-data">
    <div class="row justify-content-center align-items-center vh-100">
        <div class="col-6">
            <div class="row mt-2">
                <div class="col-12">
                    <label for="" class="form-label">Senha atual</label>
                    <input type="password" name="current_password" id="current_password" class="form-control">
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-6">
                    <label for="" class="form-label">Senha nova</label>
                    <input type="password" name="new_password" id="new_password" class="form-control">
                </div>
                <div class="col-6">
                    <label for="" class="form-label">Confirmar senha nova'</label>
                    <input type="password" name="confirm_password" id="confirm_password" class="form-control">
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-12">
                    <label for="" class="form-label">Digital</label>
                    <input type="file" name="file" id="file" class="form-control">
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-12">
                    <button type="submit" class="btn btn-primary w-100">Salvar</button>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock %}
