{% extends 'base.html' %}

{% block content %}

<div class="container">

    <div class="row">
        <div class="col-12">
            <form method="post">
                <label for="" class="form-label">E-mail</label>
                <input type="email" name="username" id="username" class="form-control my-2">
                <button type="submit" class="btn btn-primary w-100 mb-2">Cadastrar</button>
            </form>
        </div>
        <div class="col-6">
            <select name="perfil" id="perfil">
                {% for perfil in perfis %}
                <option value="{{ perfil['id'] }}">{{ perfil['nome'] }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="row">

        <div class="table-resposive">

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">E-mail</th>
                        <th scope="col">Perfil</th>
                        <th scope="col">Alguma Coisa</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}

                    <tr>
                        <td>{{ user['email'] }}</td>
                        <td>{{ user['perfil'] }}</td>
                        <td>{{ user['alguma-coisa'] }}</td>
                    </tr>

                    {% endfor %}
                </tbody>

            </table>

        </div>

    </div>

</div>
{% endblock %}
