{% extends 'base.html' %}

{% block content %}

<div class="container">

    <div class="row">
        <div class="col-12">
            <form action="" method="post">
                <div class="row">
                    <div class="col">
                        <label for="" class="form-label">E-mail</label>
                        <input type="email" name="username" id="users" class="form-control">
                    </div>

                    <div class="col">
                        <label for="" class="form-label">Perfil</label>
                        <select name="perfil" id="perfil" class="form-select">
                            <option value="" selected disabled>Selecione um perfil</option>
                            <option value="1">Administrador</option>
                            <option value="2">Público</option>
                            <option value="3">Diretores de divisões</option>
                            <option value="4">Ministro do meio ambiente</option>
                        </select>
                    </div>
                </div>

                <div class="row my-2">
                    <div class="col">
                        <button type="submit" class="btn btn-primary w-100">Cadastrar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">

        <div class="table-resposive">

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">E-mail</th>
                        <th scope="col">Perfil</th>
                        <th scope="col">Edit</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}

                    <tr>
                        <td>{{ user.username }}</td>
                        <td>{{ user.role }}</td>
                        <td>
                            <a class="btn btn-outline-primary btn-sm"
                                href="{{ url_for('admin.edit_user', id = user['id']) }}"><i
                                    class="bi bi-pencil-fill"></i></a>
                        </td>
                    </tr>

                    {% endfor %}
                </tbody>

            </table>

        </div>

    </div>

</div>
{% endblock %}
