{% extends 'base.html' %}

{% block title %}Criando conteúdo{% endblock %}

{% block content %}
<form method="post">
    <label for="title">Title</label>
    <input name="title" id="title" value="{{ request.form['title'] }}" required>
    <label for="body">Body</label>
    <textarea name="body" id="body">{{ request.form['body'] }}</textarea>

    <label for="access_level">Nível de acesso</label>
    <select name="access_level" id="access_level">
        <option value="1">Administrador</option>
        <option value="2">Público</option>
        <option value="3">Diretores de divisões</option>
        <option value="4">Ministro do meio ambiente</option>
    </select>

    <input type="submit" value="Save">
</form>
{% endblock %}
