{% extends 'base.html' %}

{% block title %}Listagem de conteúdo{% endblock %}

{% if g.user %}
  <a class="action" href="{{ url_for('content.create') }}">New</a>
{% endif %}
{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-12">

        {% for content in contents %}
        <div class="row">
          <div class="col-12">
            <article class="content">
              <header>
                <div>
                  <a href="/{{ content.id }}"><h1>{{ content.title }}</h1></a>
                </div>
              </header>
            </article>
          </div>
        </div>
        {% if not loop.last %}
          <hr>
        {% endif %}

        {% endfor %}

      </div>
    </div>
  </div>

{% endblock %}
